html, body {
	height: 100% /*sets height of the body to 100%*/
}

#containermain{
	min-height: 93.65% /*sets min height of the main section of the page*/
}

#main {
	overflow: auto; /*if the content of the page does not fit on the screen at the same time a scrollbar is added*/
	padding-bottom: 100px; /*adds some padding to the bottom of the main div*/
}

#footer{
	 background-color: #265D1E; /*sets the background colour to green*/
	 position: relative;
	 height: 80px; /*sets the height of the footer*/
	 margin-top: -80px; 
	 clear: both;
	 text-align: center; /*puts logo in the centre*/
}

.topbar{
	background-color: #265D1E; /*background colour of the top bar*/
}

.bg-pendle {
    --bs-bg-opacity: 1;
    background-color: #1B4315; /*background colour of the nav bar*/
}

.footerimage {
	padding-top: 5px; /*5px padding at the top for the footer image*/
}

.selected { /*class for when a page on the navbar is the current page*/
    color: #1B4315!important; /*makes the selected page font green on navbar*/
    background-color: white; /*makes the area around the current page on navbar white*/
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem!important; /*takes away the padding on the top of the navbar*/
    padding-bottom: 0rem!important; /*takes away the padding on the bottom of the navbar*/
}

.navbar-brand { /*pendle college text and logo image*/
	display: none; /*hides this image*/
}

.navbar-brand1 { /*pendle college text image*/
	display: none; /*hides this image*/
}

.bannerimg { /*banner for the pages below the navbar*/
	min-width: 100%; /*sets the min width of the image to cover 100% of the screen*/
	max-width: 100%; /*sets the max width of the image to 100%*/
	height: auto; /*height adjusts automatically depending on the width in pixels*/
	max-height: 400; /*max height is 400 pixels it will not expand further down then that*/
}

.section {
	padding: 15px 15px 15px 10%; /*padding for section divs with 10% of screen padding on the left and 15px on he other sides*/
}



h2 {
	color: #1B4315; /*makes h2 green*/
}

.yline {
	background-color: #FBB800; /*sets the line colour to yellow*/
	width: 55px; /*width of line*/
	height: 4px; /*height of line*/
	margin-bottom: 20px; /*space below the line*/
}

.gap {
	padding-bottom: 40px; /*40px gap for the padding div class*/
}

#logoimage {
	padding-top: 30px; /*30px gap at the top*/
	padding-bottom: 20px; /*20px gap at the bottom*/
	text-align: center; /*centres the logo*/
}

#homeimages {
	padding-top: 80; /*80 padding at the top of the group of image*/
	padding-bottom: 40; /*40 padding at the bottom of the group of images*/
	text-align: center; /*centres the images*/
}
.homeimg {
	min-width: 80%; /*max width is 80%*/
	max-width: 80%; /*max width of image is 80%*/
	height: auto; /*height will be adjusted automatticly based on the width of the image*/
}

#name{
	color: #265D1E; /*sets color of name id to green*/
}

#position{
	color: #FBB800; /*sets color of position id to yellow*/
}

ol{
	padding-top: 0px; /*0px padding on the top*/
	padding-bottom: 0px; /*0px padding on the bottom*/
}

#officer{
	display: flex; /*the elements will be flexible*/
    flex-wrap: nowrap; /*keeps the child divs on the same line*/
}

#details1 {
	float:left; /*the image of the officer will be on the left*/
}

#details2{
	float:right; /*the information about the officer will be on the right*/
}

#officerimg{
	height: 200px; /*sets the height of the officer image to 200px*/
	width: 200px; /*sets the width of the officer image to 200px*/
}

/*stores the welcome table*/
#welcometable{ 
	margin-left: 5%; /*5% gap on the left*/
	margin-right: 5%; /*5% gap on the right*/
	background-color: red; 
	/*display: flex; /*automattically arrenges elecments*/
	text-align: center; /*makes text centre aligned*/
	justify-content: center; /*makes the child divs align in the centre*/
}
	
/*sets satarday1 to width 10% and colour to pendle green*/
#saturday1{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets sunday1 to width 10% and colour to pendle green*/
#sunday1{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets monday to width 10% and colour to pendle green*/
#monday{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets tuesday to width 10% and colour to pendle green*/
#tuesday{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets wednesday to width 10% and colour to pendle green*/
#wednesday{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets thursday to width 10% and colour to pendle green*/
#thursday{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets friday to width 10% and colour to pendle green*/
#friday{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}
	
/*sets satarday2 to width 10% and colour to green*/
#saturday2{
	width: 10%;
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

/*sets sunday2 to width 10% and colour to pendle green*/
#sunday2{
	min-width: 100px;
	width: 10%; 
	background-color: #265D1E;
	float:left;
	margin-right: 15px;
}

.welcomedays{
	background-color: #265D1E; /*sets background colour to pendle green*/
	padding-top: 5px; /*5px padding at the top*/
	padding-bottom: 5px; /*5px padding at the bottom*/
}

/*the gap between the headings and the activies*/
.tablegap{
	padding-bottom: 30px; /*30px padding at the bottom*/
	background-color: #1B4315; /*background colour set to dark green*/
}

/*heading of the day*/
.dayhead{
	color: white;
}

.ylinetable {
	background-color: #FBB800; /*sets the line colour to yellow*/
	width: 55px; /*width of line*/
	height: 4px; /*height of line*/
	margin-bottom: 4px; /*adds margin of 4px to the bottom*/
}

.activity{
	display: flex; 
  	flex-direction: column; /*makes the data in an activity in line in a colum*/
  	align-items: center; /*aligns content in centre*/
}

.activityhead{
	padding-top: 10px;
	color: white; /*sets the heading of an activity to white*/
}

.welcomebutton{
		background-color: #FBB800; /*sets the colour of the botton to yellow*/
		border: none; /*sets border to none*/
		color: white; /*sets font of button to white*/
		padding: 8px 18px; /*gives the botton 8px padding left and right 18px padding top and bottom*/
		text-align: center; /*aligns the text in the centre*/
		text-decoration: none; /*removes any decoration from the text*/
		display: inline-block; /*displays the block in line*/
		font-size: 16px; /*sets font size to 16px*/
		margin: 4px 2px; /*adds a margin */
		margin-bottom: 20px; /*adds 20px gap below button*/
		cursor: pointer; /*changes the cursor to a pointer when it is hovered over*/
		border-radius: 8px; /*rounds the corner of the button by 8px*/
}

.activitygap{
	padding-bottom: 15px; /*15px gap at the bottom of each activity*/
	background-color: #1B4315; /*the sapce in thr gap will be dark green*/
}

.tablerightgap{
	padding-right: 15px; /*15px gap to the right of a day collum*/
}

.activityshortdesc{
	color: white;  /*makes short description font colour white*/
}

.activitytime{
	color:white; /*makes activity time white*/
}

.popup{
	background-color: white; /*sets the background colour of the popup to white*/
	display: none; /*hides the popup by default*/
	position: fixed; /*the postion of the popup is fixed on the page*/
	top: 50%; /*centres the popup vertically*/
	left: 50%; /*centres the popup horizontal*/
	transform: translate(-50%, -50%); /*centres the popup*/
	width: 400px; /*sets the width to 400px*/
	height: 300px; /*sets the height to 300px*/
	border: 5px solid #265D1E; /*sets the border to pendle green and 5px*/
	border-radius: 10px; /*rounds the corners of the border by 10px*/
	padding: 20px; /*20px padding*/
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*gives the boarder a black shaddow of 10px around it*/
}

.close{
	float: right; /*floats the close button to the right of the popup*/
	padding: 5px 10px; /*padding 5px top and bottom 10px left and right*/
	background-color: #265D1E; /*sets background colour to pendle green*/
	color: white; /*sets the x to white*/
	border: red; /*removes the boarder*/
	font-size: 16px; /*sets the x to 16px*/
  	font-weight: bold; /*makes thr x bold*/
  	cursor: pointer; /*turns the cursor into a pointer when it goes over the button*/
}

.popuphead{
	color: #1B4315; /*sets the heading of the popup to dark green*/
	float: left; /*floats the heading to the left*/
	padding-left: 130px; /*moves the heading to thr right by 130px*/
	padding-top: 5px; /*5px padding at the top*/
}

.popuptext{
	margin-top: 50px; /*moves the text down 50px so it is not in the heading*/
}

.welcomedrop{
	display: none; /*hides the plus button*/
}

.welcomehide{
	display: none; /*hides the minus button*/
}

.menus{ /*sets margin for the menus*/
	margin-left: 5%;
	margin-right: 5%;
	justify-content: center;
}

.foodmenu{ 
	width: 45%; /*sets food menu width to 45%*/
	float: left; /*float to left*/
	border: 5px solid #265D1E; /*sets border around the menu*/
	min-height: 100px; /*sets min height to 100px*/
	padding-bottom: 10px; /*10px padding at the bottom*/
}

.drinksmenu{
	width: 45%; /*sets drinks menu width to 45%*/
	float: left; /*float to left*/
	border: 5px solid #265D1E; /*sets border around the menu*/
	min-height: 100px; /*sets min height to 100px*/
	padding-bottom: 10px; /*10px padding at the bottom*/
}

.menugap{ 
	min-width: 10%; /*sets the gap to 10%*/
	height: 20px;
	float: left;
}

.menuhead{ /*alligns the heading items for the menus in the centre*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuheading{ /*sets the colour of the menu headings and some paddign on the top*/
	padding-top: 10px;
	color: #1B4315;
}

#fooditems{ /*adds some margins on each side of the food items*/
	margin-left: 5%;
	margin-right: 5%;
}

#drinksitems{ /*adds some margins on each side of the food items*/
	margin-left: 5%;
	margin-right: 5%;
}

.menuitem{ 
	padding-top: 5px;
	display: flex;
    justify-content: space-between; /*makes name and price apear on oposite sides*/
}

.brewgap{
	width: 100%;
	height: 10px; /*10px gap*/
}

.brew{ /*adds margin gap and makes the child divs display inline*/
	margin-left: 5%;
	margin-right: 5%;
	display: inline-flex;
	padding-top: 40px;
}

.brewdesc{
	width: 50%; /*sets brewdesc to 50% width*/
}

.brewimg{
	width: 50%; /*sets brewimg to 50% width*/
	text-align: center; /*alligns image in the centre*/
	padding-top: 10px; /*adds 10px padding on top of the image*/
}

#eventstable{ 
	margin-left: 5%; /*5% gap on the left*/
	margin-right: 5%; /*5% gap on the right*/
	background-color: red; 
	text-align: center; /*makes text centre aligned*/
	justify-content: center; /*makes the child divs align in the centre*/
}

/*sets the width and gap for the weeks*/
.weeks{
	min-width: 100px;
	width: 9.7%; 
	background-color: #265D1E;
	float:left;
	margin-right: 3px;
}

/*heading of the day*/
.weekhead{
	color: white;
}

.eventweeks{
	background-color: #265D1E; /*sets background colour to pendle green*/
	padding-top: 5px; /*5px padding at the top*/
	padding-bottom: 5px; /*5px padding at the bottom*/
}

.welcomedropE{
	display: none; /*hides the plus button*/
}

.welcomehideE{
	display: none; /*hides the minus button*/
}

.activityE{
	display: flex; 
  	flex-direction: column; /*makes the data in an activity in line in a colum*/
  	align-items: center; /*aligns content in centre*/
}

.activitygapE{
	padding-bottom: 15px; /*15px gap at the bottom of each activity*/
	background-color: #1B4315; /*the sapce in thr gap will be dark green*/
}

.heading{ /*sets margin for headings*/
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
	padding-top: 15px;
}

.headingtext{
	width: 85%; /*sets the width of the text to 85%*/
}

.eventbar{
	width: 100%;
	height: 15px;
}

#sports{
	margin-left: 5%;
	margin-right: 5%;
}

#sport {
    display: flex; /* This sets the sport div to use Flexbox, which is a layout mode providing for the arrangement of elements on a page. */
    justify-content: space-between; /* This aligns items along the horizontal line (in this case). "space-between" places equal space between each item. The first item is on the start line, the last item on the end line. */
    flex-wrap: wrap; /* Normally, items will all try to fit onto one line. "wrap" allows them to wrap onto multiple lines, if needed. */
    margin-bottom: 20px; /* This adds 20 pixels of space beneath the sport div. */
}

#captain {
    display: flex; /* This sets the captain div to use Flexbox. */
    flex: 1; /* This means the div will take up all available space along the horizontal axis. If other sibling elements also have flex: 1, the space will be shared equally. */
}

#captaindetails{
    flex: 1; /* Same as above, this element will take up all available space along the horizontal axis. If there are other flex: 1 elements, the space will be equally shared. */
    min-width: 150px; /* The element will not become smaller than 150px wide. */
    max-width: 300px; /* The element will not exceed 300px wide. */
}

#captainimg{
	min-width: 150px; /* maximum width */
    min-height: 150px; /* maximum height */
    height: auto; /* let it resize freely*/
    width: auto; /* let it resize freely */
    max-width: 200px; /* maximum width */
    max-height: 200px; /* maximum height */
}

#teamsport {
    display: flex;
    flex: 1;
}

.team {
    background-color: #265D1E;
    flex: 1;
	margin-right: 10px;
	min-width: 150px;
	max-width: 200px;
}

.teamhead{
    height: 30px;
    width: 100%;
    background-color: #1B4315;
}

.teambody{
    text-align: center;
}

.ylineteam {
    background-color: #FBB800;
    width: 55px;
    height: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

.teambody ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: white;
}

#sportimg {
	min-width: 200px;
    min-height: 200px;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 200px;
}

#faqs, #contacts{
	margin-left: 5%;
	margin-right: 5%;
}

.question{
	color: #265D1E;
}

.faq{
	width: 48%;
	margin-right: 20px;
	float: left;
}

#minutes{
	margin-left: 5%;
	margin-right: 5%;
}

.minute{
	width: 50%;
	height: 60px;
	background-color: #265D1E;
	display: flex;
    justify-content: space-between; /*makes title and download apear on oposite sides*/
	align-items: center; /*centers items vertically in the container*/
	margin-bottom: 15px;
}

.downloadbutton{
	background: none;
    color: inherit;
    border: none;
    padding: 0;
}

.downloadimg{
	width: 150px;
	height: 40px;
	margin-right: 15px;
}

.downloadicon{
	display: none;
}

.minutetitle{
	color: white;
	margin-left: 15px;
}

.headingdesc{
	width: 50%; /*sets brewdesc to 50% width*/
}

@media only screen and (max-width: 1500px) { /*if the width is 1500px or below do the following...*/
	/*sets satarday1 to width 10% and colour to pendle green*/
	#saturday1{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets sunday1 to width 10% and colour to pendle green*/
	#sunday1{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets monday to width 10% and colour to pendle green*/
	#monday{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets tuesday to width 10% and colour to pendle green*/
	#tuesday{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets wednesday to width 10% and colour to pendle green*/
	#wednesday{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets thursday to width 10% and colour to pendle green*/
	#thursday{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets friday to width 10% and colour to pendle green*/
	#friday{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}
		
	/*sets satarday2 to width 10% and colour to green*/
	#saturday2{
		width: 10%;
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

	/*sets sunday2 to width 10% and colour to pendle green*/
	#sunday2{
		min-width: 100px;
		width: 10%; 
		background-color: #265D1E;
		float:left;
		margin-right: 10px; /*change margin-right from 15px to 15px*/
	}

		.heading{ /*makes heading 100% width*/
		width: 100%;
	}

	.minute{
		width: 100%;
	}
}

@media only screen and (max-width: 1355px) { /*if the width is 1240px or below do the following...*/
	/*set the width of the weeks to 100% of the div*/
	.weeks{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	.eventweeks{
		padding-bottom: 65px; /*add 65px padding to the bottom of welcome days*/
	}

	.welcomedropE{
		display: block; /*shows the plus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 10px; /*10px gap at the top*/
		margin-bottom: 10px; /*10px gap at the bottom*/
		margin-left: 15px; /*15px gap on the left*/
		margin-right: 15px; /*15px gap on the right*/
  		background-color: #265D1E; /*sets the background color to pendle green*/
	}

	.welcomehideE{
		display: none; /*hides the minus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 10px; /*10px gap at the top*/
		margin-bottom: 10px; /*10px gap at the bottom*/
		margin-left: 15px; /*15px gap on the left*/
		margin-right: 15px; /*15px gap on the right*/
  		background-color: #265D1E; /*sets the background color to pendle green*/
	}

	/*sets the size of the plus image to 40px*/
	#plusbuttonE{
		max-width: 40px;
		max-height: 40px;
		width: 40px;
  		height: 40px
	}

	/*sets the size of the minus image to 40px*/
	#minusbuttonE{
		max-width: 40px;
		max-height: 40px;
		width: 40px;
  		height: 40px
	}

	.weekhead{
		float: left; /*make the day headings float to the left of the div*/
		padding-left: 20px; /*20px padding to the left*/
		padding-top: 10px; /*10px padding to the top*/
		font-size: 30px; /*sets the font size to 30px*/
	}

	.activityE{
		display: none; /*hide the activities*/
	}

	.activitygapE{
		display: none; /*hide the activity gaps*/
	}


}

@media only screen and (max-width: 1240px) { /*if the width is 1240px or below do the following...*/
	
	/*set the width of saturday1 to 100% of the div*/
	#saturday1{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of sunday1 to 100% of the div*/
	#sunday1{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of monday to 100% of the div*/
	#monday{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of tuesday to 100% of the div*/
	#tuesday{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of wednesday to 100% of the div*/
	#wednesday{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of thursday to 100% of the div*/
	#thursday{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of friday to 100% of the div*/
	#friday{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of saturday2 to 100% of the div*/
	#saturday2{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	/*set the width of sunday2 to 100% of the div*/
	#sunday2{
		min-width: 100px;
		width: 100%; 
		background-color: #265D1E;
	}

	.welcomedays{
		padding-bottom: 65px; /*add 65px padding to the bottom of welcome days*/
	}

	.welcomedrop{
		display: block; /*shows the plus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 10px; /*10px gap at the top*/
		margin-bottom: 10px; /*10px gap at the bottom*/
		margin-left: 15px; /*15px gap on the left*/
		margin-right: 15px; /*15px gap on the right*/
  		background-color: #265D1E; /*sets the background color to pendle green*/
	}

	.welcomehide{
		display: none; /*hides the minus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 10px; /*10px gap at the top*/
		margin-bottom: 10px; /*10px gap at the bottom*/
		margin-left: 15px; /*15px gap on the left*/
		margin-right: 15px; /*15px gap on the right*/
  		background-color: #265D1E; /*sets the background color to pendle green*/
	}

	/*sets the size of the plus image to 40px*/
	#plusbutton{
		max-width: 40px;
		max-height: 40px;
		width: 40px;
  		height: 40px
	}

	/*sets the size of the minus image to 40px*/
	#minusbutton{
		max-width: 40px;
		max-height: 40px;
		width: 40px;
  		height: 40px
	}

	.dayhead{
		float: left; /*make the day headings float to the left of the div*/
		padding-left: 20px; /*20px padding to the left*/
		padding-top: 10px; /*10px padding to the top*/
		font-size: 30px; /*sets the font size to 30px*/
	}

	.activity{
		display: none; /*hide the activities*/
	}

	.activitygap{
		display: none; /*hide the activity gaps*/
	}

}

@media only screen and (max-width: 1026px) { /*if the width is 1026px or below do the following...*/

	#navbanner {
		display: none; /*hides the top bar banner*/
	}
	
	.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem!important; /*adds back top padding*/
    padding-bottom: 0.5rem!important; /*adds back bottom padding*/
	}
	
	.bg-pendle {
    --bs-bg-opacity: 1;
    background-color: #265D1E; /*changes the background colour of the navbar to that of the topbar*/
	}
	
	.navbar-brand {
	display: block; /*makes the pendle college text and logo image appear on the navbar*/
	}
	
	.navbar-brand2 {
	display: none; /*hides the green block*/
	}
	
	.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255, .4)!important; /*changes the hamburger icon outline to be bit more clear*/
	}
	
	.section {
	padding: 15px 15px 15px 15px; /*changes the padding of section class to be 15px on all sides*/
	}

	.faq{
		width: 100%;
		margin-right: 0px;
	}

	.headingdesc{ /*sets the heading description to 100% width*/
		width: 100%;
	}
}

@media only screen and (max-width: 800px) { /*if the screen width is 800px or below do the following...*/
	.downloadimg{
		display: none;
	}
	
	.downloadicon{
		width: 45px;
		height: 40px;
		margin-right: 15px;
		display: block;
	}
}

@media only screen and (max-width: 700px) { /*if the screen width is 700px or below do the following...*/
	.foodmenu{ /*sets the food menu to 100% width*/
		width: 100%;
	}

	.drinksmenu{ /*sets the drinks menu to 100% width and adds some padding to the bottom*/
		width: 100%;
		margin-bottom: 20px;
	}

	.brew{ /*makes it so the child divs are now on seperate lines*/
		display: block;
		padding-bottom: 10px;
	}

	.brewdesc{ /*sets the brew description to 100% width*/
		width: 100%;
	}
	
	.brewimg{ /*sets the brew image to 100% width*/
		width: 100%;
	}

	#teamsport {
        flex-wrap: wrap; /* On smaller screens, we allow the divs to wrap */
    }

    .team, #sportimg {
        flex-basis: 100%; /* each child takes up full width on smaller screens */
    }

	.team{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 430px) { /*if the screen width is 430px or below do the following...*/
	.popup{
		background-color: white; /*sets the background colour of the popup to white*/
		display: none; /*hides the popup by default*/
		position: fixed; /*the postion of the popup is fixed on the page*/
		top: 50%; /*centres the popup vertically*/
		left: 50%; /*centres the popup horizontal*/
		transform: translate(-50%, -50%); /*centres the popup*/
		width: 90%;
		height: auto; /*sets the height to auto will expand depending on the width*/
		border: 5px solid #265D1E; /*sets the border to pendle green and 5px*/
		border-radius: 10px; /*rounds the corners of the border by 10px*/
		padding: 20px; /*20px padding*/
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*gives the boarder a black shaddow of 10px around it*/
	}

	.popuphead{
		color: #1B4315; /*sets the heading of the popup to dark green*/
		float: left; /*floats the heading to the left*/
		padding-left: 5px; /*moves the heading to thr right by 5x*/
		padding-top: 5px; /*5px padding at the top*/
	}

	.popuptext{
		margin-top: 50px; /*moves the text down 50px so it is not in the heading*/
		text-align: left; /*aligns text to the left*/
	}

	#sportimg {
		max-width: 300px;
		max-height: 200px;
	}

	#captain {
        flex-wrap: wrap; /* On smaller screens, we allow the divs to wrap */
    }

    #captainimg, #captaindetails {
        flex-basis: 100%; /* each child takes up full width on smaller screens */
    }
}

@media only screen and (max-width: 400px) { /*if the screen width is 400px or below do the following...*/
	#officerimg{
		height: 100px; /*sets the height of the officer images to 100px*/
		max-width: 100px; /*sets the max width of thr officer images to 100px*/
	}
}

@media only screen and (max-width: 335px) { /*if the screen width is 335px or below do the following...*/
	#sportimg {
		max-width: 250px;
		max-height: 200px;
	}
}

@media only screen and (max-width: 310px) { /*if the screen width is 310px or below then do this...*/
	
	/*removes the logo and just leaves the pendle college text in the navbar on very small devices such as Galaxy Fold*/
	
	.navbar-brand1 {
	display: block; /*display omly the pendle college text image*/
	}
	
	.navbar-brand {
	display: none; /*removes the pendle college text with logo image*/
	}

	#officerimg{
		height: 50px; /*sets the height of the officer images to 50px*/
		max-width: 50px; /*sets the max width of thr officer images to 50px*/
	}

	/*sets the size of the plus image to 30px*/
	#plusbutton{
		max-width: 30px;
		max-height: 30px;
		width: 30px;
  		height: 30px
	}

	/*sets the size of the minus image to 30px*/
	#minusbutton{
		max-width: 30px;
		max-height: 30px;
		width: 30px;
  		height: 30px
	}

	.dayhead{
		float: left; /*make the day headings float to the left of the div*/
		padding-left: 20px; /*20px padding to the left*/
		padding-top: 7.5px; /*7.5px padding to the top*/
		font-size: 20px; /*sets the font size to 20px*/
	}

	.welcomedays{
		padding-bottom: 50px; /*add 50px padding to the bottom of welcome days*/
	}

	.welcomedrop{
		display: block; /*shows the plus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 5px; /*5px gap at the top*/
		margin-bottom: 5px; /*10px gap at the bottom*/
		margin-left: 10px; /*10px gap on the left*/
		margin-right: 10px; /*10px gap on the right*/
  		background-color: #265D1E; /*sets the background colour to pendle green*/
	}

	.welcomehide{
		display: none; /*hides the minus button*/
		float: right; /*float to the right*/
		border: 0; /*no border*/
 		margin-top: 5px; /*5px gap at the top*/
		margin-bottom: 5px; /*5px gap at the bottom*/
		margin-left: 10px; /*10px gap on the left*/
		margin-right: 10px; /*10px gap on the right*/
  		background-color: #265D1E; /*sets the background color to pendle green*/
	}
}

@media only screen and (max-width: 280px) { /*if the screen width is 280px or below do the following...*/
	#sportimg {
		max-width: 250px;
		max-height: 200px;
	}
}